@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
    --mainColor: #ff7b00;
    --text-font-two: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: "Roboto" , sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-bottom: 0.5rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #02040f;
}

.list-style {
    list-style-type: none;

}

.list-style li {
    padding-top: 10px;
}

.list-style li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    color: var(--mainColor);

}

.castome-ul li,
.castome-ul div {
    margin: 0 12px;
    color: rgba(0, 0, 0, 0.55) !important;
    font-family: var(--text-font-one) !important;
    font-weight: 500;
    line-height: 60px;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
}



.link-effect {
    color: var(--mainColor);
    font-weight: 500;
    transition: 1s;
}

.link-effect:hover {
    color: var(--mainColor);
    text-decoration: none;
}


.card-moving2 img {
    width: 6rem;
    height: 6rem;
}
