@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
margin: 0;
box-sizing: border-box;
outline: 0;
font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #575a7b;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
--primaryColor: #ff7b00;
--grey: rgba(255, 255, 255, 0.6);
--black: #000;
--white: #fff;
}
/*===
general styles
===*/  
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #02040f;
}
.btn-primary{
    padding: 4em;
    background-color: var(--primaryColor);
    color: var(--white);
    border: 0;
}
/*===
    header
    ===*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.white-link a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.white-link a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}
/*===
    navbar
    ===*/
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.1rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    transition: box-shadow 0.15s ease-in-out;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.header-main .navbar-nav > .nav-item .mob-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.navbar-light .mob-menu {
    color: rgba(2, 4, 15, 0.6);
}
.dropdown-toggle {
    white-space: nowrap;
}
.header-main .navbar-nav > .nav-item > .nav-link {
    font-weight: 500;
    text-transform: none;
    font-size: 1rem;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}
.header-main .navbar-expand-lg .navbar-nav > .nav-item.dropdown > .nav-link:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: currentColor;
    margin-left: 8px;
    display: inline-block;
    font-size: 11px;
    border: none;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55);
}
.nav-link:hover {
    color: #2d3748;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-brand {
    padding-top: 0.42rem;
    padding-bottom: 0.42rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    white-space: nowrap;
}



/*===
    navbar
    ===*/
.lead {
    font-size: 1.1rem;
    font-weight: 400;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.list-type-01 li:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 0;
    background: #ff7b00;
    border-radius: 50%;
}
.list-type-01 li:after {
    content: "";
    width: 6px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 6px;
    color: #ffffff;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #cc6200;
    border-color: #bf5c00;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #d96900;
    border-color: #cc6200;
}
.btn:hover {
    color: #575a7b;
}
.btn .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

element.style {
}
.btn .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.btn-primary {
    color: #ffffff;
    background-color: #ff7b00;
    border-color: #ff7b00;
}
.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.6;
    color: #575a7b;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.65rem 1.25rem;
    font-size: 1rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*===
    navbar
    ===*/
jarallax-container-2{

}

/*===
    parallax
    ===*/
    .parallax{
        background-image: none; 
        z-index: 0;    
    }
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .bg-primary {
        background-color: #ff7b00 !important;
    }
    .jarallax{
        position: absolute;
        top: 0px; 
        left: 0px; 
        width: 100%; 
        height: 100%; 
        overflow: hidden; 
        pointer-events: none; 
        z-index: -100;
    }
    .pparallax{
        background-position: 50% 50%; 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-image: url(/assets/img/project-2.jpg); 
        position: fixed; 
        top: 0px; 
        left: 0px; 
        width: 1471.2px; 
        height: 259.7px; 
        overflow: hidden; 
        pointer-events: none; 
        margin-top: 73.65px; 
        transform: translate3d(0px, -95.5125px, 0px);
    }
     
      
/*===
    footer
    ===*/
    .footer{
        background-color: var(--black);
        position: relative;
    }
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.icon-primary {
    color: #ffffff;
    background-color: #ff7b00;
}
.icon-sm {
    width: 2rem;
    height: 2rem;
}
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
}


p > a {

        color: #ff7b00;
        text-decoration: none;


}

.white-link a {
    color: rgba(255, 255, 255, 0.6);
}
.media {
    display: flex;
    padding-bottom: 10px;
}

.footer-bottom::before{
    content: '';
    width: 90%;
    height: 5px;
    color: var(--gray);
    position: absolute;
    top: 0;
    left: 0;

}